/* Styles used in this dashboard only. */

a.deselected { opacity: 0.5; }

/* double scrollbar, and min size for less bouncing. */
.scrolltop, .scrollbot { overflow-x: scroll !important; }
.scrollbot .subscroll { min-height: 400px; }
.scrolltop { margin-bottom: 10px; }
.subscroll { padding-right: 5px; } /* padding necessary so content doesn't get cut off when top scroll */
.scrolltop, .subscroll { min-height: 1px; }
.dataTables_length { float: none !important; }
.scrollbot { padding-bottom: 10px; }

/* other min-height to stop bouncing. */
#sovtable_columnselector { min-height: 40px; }
#facilitytable_columnselector { min-height: 40px; }

/* other table stuff */
#sovtable > div:first-of-type {
    padding-right:15px;
    padding-bottom:30px;
}

#sov > div:first-of-type {
    overflow:hidden !important;
    min-height:revert !important;
}

/* SOV Table */

#sovtable-wrapper > div:first-of-type, #sov_hist-wrapper > div:first-of-type {
    max-width: 99%
}

#sovtable-wrapper > div > .chart-sub, #sov_hist-wrapper > div > .chart-sub {
    min-width:revert !important;
    min-height:revert !important;
}

#sovtable table, #sov_hist table { white-space: nowrap; }

/* Facility Table */

#facilitytable-wrapper > div:first-of-type, #sov_hist-wrapper > div:first-of-type {
    max-width: 99%
}

#facilitytable-wrapper > div > .chart-sub, #sov_hist-wrapper > div > .chart-sub {
    min-width:revert !important;
    min-height:revert !important;
}

#facilitytable table { white-space: nowrap; }

/* Allocation Table */

#allocation_table-wrapper > div > .chart-sub {
    min-width:revert !important;
    min-height:revert !important;
}

#allocation_table-wrapper > div:first-of-type {
    max-width: 99%;
    overflow: hidden;
}
   
#allocation_table table { white-space: nowrap; }

/* Workbench SOV Table */

#workbench_corrections-wrapper > div > .chart-sub {
    min-width:revert !important;
    min-height:revert !important;
}

#workbench_corrections-wrapper > div:first-of-type {
    max-width: 99%;
    overflow: hidden;
}
   
#workbench_corrections table { white-space: nowrap; }

#workbench_corrections_scrollbot > div { min-height: 100px; }

